<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false" 
      internalLogLevel="Info">
  <!--internalLogFile="NlogRecords.log"-->
  <!--Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
  <!--internalLogFile="c:\temp\internal-nlog.txt"-->

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>

    <!-- add your targets here -->
    <!--注意安装provider包-->
    <target xsi:type="Database" name="database"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection,Mysql.Data"
            connectionString="server=127.0.0.1;user=root;password=123456;database=log_server;port=3306;"
            commandText="insert into test_log 
              (LogTime, LogLevel, Message, 
              Host,ExpType,MethodName,ExDetail) 
              values (@LogTime,@LogLevel, @Message, 
              @Host,@ExpType,@MethodName,@ExDetail)
              ;">
      <parameter name="@Host" layout="${machinename}" />
      <parameter name="@LogTime" layout="${longdate}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MethodName" layout="${callsite:methodName=true}" />
      <parameter name="@ExpType" layout="${exception:format=type}" />
      <parameter name="@ExDetail" layout="${exception:format=tostring}" />
    </target>
    <!--<target xsi:type="Database" name="database"
            keepConnection="true"
            useTransactions="true"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="Data Source=LEVY\LEVY;Initial Catalog=LogServer;User ID=sa;Password=123456;"
            commandText="insert into TestLog  
              ([LogTime], [LogLevel], [Message], 
              [Host],[ExpType],[MethodName],[ExDetail]) 
              values (@LogTime,@LogLevel, @Message, 
              @Host,@ExpType,@MethodName,@ExDetail)
              ;">
      <parameter name="@Host" layout="${machinename}" />
      <parameter name="@LogTime" layout="${longdate}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MethodName" layout="${callsite:methodName=true}" />
      <parameter name="@ExpType" layout="${exception:format=type}" />
      <parameter name="@ExDetail" layout="${exception:format=tostring}" />
    </target>-->

  </targets>

  <rules>
    <!--跳过所有级别的Microsoft组件的日志记录-->
    <!--<logger name="Microsoft.*" final="true" />-->
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>